@tailwind base;
@tailwind components;
@tailwind utilities;/* You can add global styles to this file, and also import other style files */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.4s ease-out;
}